@mixin rotateImg($name, $deg: 15deg, $delay: 0s) {
  animation: #{$name} 2.5s cubic-bezier(0.645, 0.045, 0.355, 1) $delay infinite;

  @keyframes #{$name} {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate($deg);
    }
  }
}