@mixin h1A {
  @include max-laptop {
    font-size: use-rem(130px);
  }

  @include max-tablet {
    font-size: use-rem(90px);
  }

  @include max-mobile {
    font-size: use-rem(64px);
  }

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: $font-family;
  font-size: use-rem(170px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin h1G {
  @include max-laptop {
    font-size: use-rem(130px);
  }

  @include max-tablet {
    font-size: use-rem(75px);
  }

  @include max-mobile {
    font-size: use-rem(44px);
  }

  font-family: $font-family--second;
  font-size: use-rem(170px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin h2A {
  @include max-laptop {
    font-size: use-rem(120px);
  }

  @include max-tablet {
    font-size: use-rem(75px);
  }

  @include max-mobile {
    font-size: use-rem(44px);
  }

  font-family: $font-family;
  font-size: use-rem(150px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin h2ASM {
  @include max-laptop {
    font-size: use-rem(90px);
  }

  @include max-tablet {
    font-size: use-rem(56px);
    line-height: 100%;
  }

  @include max-mobile {
    font-size: use-rem(32px);
  }

  font-family: $font-family;
  font-size: use-rem(120px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin h2G {
  @include max-laptop {
    font-size: use-rem(120px);
  }

  @include max-tablet {
    font-size: use-rem(75px);
  }

  @include max-mobile {
    font-size: use-rem(42px);
  }

  font-family: $font-family--second;
  font-size: use-rem(150px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin h3UP {
  @include max-laptop {
    font-size: use-rem(76px);
  }

  @include max-tablet {
    font-size: use-rem(40px);
  }

  @include max-mobile {
    font-size: use-rem(30px);
  }

  font-family: $font-family--second;
  font-size: use-rem(90px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin h3 {
  @include max-laptop {
    font-size: use-rem( 54px);
  }

  @include max-tablet {
    font-size: use-rem(40px);
  }

  @include max-mobile {
    font-size: use-rem(24px);
  }

  font-family: $font-family;
  font-size: use-rem(76px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin h4UP {
  @include max-laptop {
    font-size: use-rem(48px);
  }

  @include max-tablet {
    font-size: use-rem(32px);
  }

  @include max-mobile {
    font-size: use-rem(24px);
  }

  font-family: $font-family--second;
  font-size: use-rem(60px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin h4 {
  @include max-laptop {
    font-size: use-rem(40px);
  }

  @include max-tablet {
    font-size: use-rem(32px);
  }

  @include max-mobile {
    font-size: use-rem(22px);
  }

  font-family: $font-family;
  font-size: use-rem(48px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: use-rem(3px);
  text-transform: uppercase;
}

@mixin h4-manrope {
  @include max-laptop {
    font-size: use-rem(24px);
  }

  @include max-mobile {
    font-size: use-rem(18px);
  }

  font-family: $font-family--second;
  font-size: use-rem(28px);
  font-weight: 700;
  line-height: 100%;
  text-transform: none;
}

@mixin h5UP {
  @include max-laptop {
    font-size: use-rem(26px);
    letter-spacing: 0;
  }

  @include max-tablet {
    font-size: use-rem(16px);
  }

  font-family: $font-family--second;
  font-size: use-rem(32px);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: use-rem(0.96px);
  text-transform: uppercase;
}

@mixin h5 {
  @include max-laptop {
    font-size: use-rem(28px);
  }

  @include max-tablet {
    font-size: use-rem(18px);
  }

  @include max-mobile {
    font-size: use-rem(16px);
  }

  font-family: $font-family--second;
  font-size: use-rem(32px);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

@mixin h6UP {
  @include max-laptop {
    font-size: use-rem(18px);
    letter-spacing: use-rem(1px);
  }

  @include max-tablet {
    font-size: use-rem(16px);
    letter-spacing: 0;
  }

  @include max-mobile {
    font-size: use-rem(14px);
  }

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: $font-family--second;
  font-size: use-rem(20px);
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

@mixin h6 {
  @include max-laptop {
    font-size: use-rem(16px);
    letter-spacing: use-rem(1px);
  }

  @include max-tablet {
    font-size: use-rem(16px);
    letter-spacing: 0;
  }

  @include max-mobile {
    font-size: use-rem(14px);
  }

  font-family: $font-family--second;
  font-size: use-rem(16px);
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: use-rem(1.5px);
  text-transform: uppercase;
}


// @mixin body-medium {
//   @include max-laptop {
//     font-size: use-rem(28px);
//   }

//   @include max-tablet {
//     font-size: use-rem(18px);
//   }

//   @include max-mobile {
//     font-size: use-rem(16px);
//   }

//   font-family: $font-family--second;
//   font-size: use-rem(32px);
//   font-style: normal;
//   font-weight: 500;
//   line-height: 160%;
// }

// @mixin body-quote {
//   font-family: $font-family--quote;
//   font-size: use-rem(32px);
//   font-style: normal;
//   font-weight: 500;
//   line-height: 160%;
// }

// @mixin body-medium-up {
//   @include max-laptop {
//     font-size: use-rem(32px);
//   }

//   @include max-tablet {
//     font-size: use-rem(24px);
//   }

//   @include max-mobile {
//     font-size: use-rem(18px);
//   }

//   font-family: $font-family--second;
//   font-size: use-rem(32px);
//   font-style: normal;
//   font-weight: 500;
//   line-height: 160%;
//   text-transform: uppercase;
// }

// @mixin body-small {
//   @include max-tablet {
//     font-size: use-rem(16px);
//   }

//   @include max-mobile {
//     font-size: use-rem(14px);
//   }

//   font-family: $font-family--second;
//   font-size: use-rem(24px);
//   font-style: normal;
//   font-weight: 500;
//   line-height: 160%;
// }

// @mixin button {
//   @include max-laptop {
//     font-size: use-rem(18px);
//     letter-spacing: use-rem(1px);

//   }

//   @include max-tablet {
//     letter-spacing: use-rem(0px);
//   }

//   @include max-mobile {
//     font-size: use-rem(14px);

//   }

//   font-family: $font-family--second;
//   font-size: use-rem(24px);
//   font-style: normal;
//   font-weight: 600;
//   line-height: 100%;
//   letter-spacing: use-rem(0.72px);
//   text-transform: uppercase;

// }

// @mixin slider {
//   @include max-laptop {
//     font-size: use-rem( 26px);

//   }

//   @include max-tablet {
//     font-size: use-rem( 20px);

//   }

//   @include max-mobile {
//     font-size: use-rem( 16px);

//   }

//   font-family: $font-family;
//   font-feature-settings: 'clig' off, 'liga' off;
//   font-size: use-rem( 28px);
//   font-style: normal;
//   font-weight: 400;
//   line-height: 100%;
//   text-transform: uppercase;

// }

// @mixin caption {
//   font-family: $font-family--second;
//   font-size: use-rem( 14px);
//   font-style: normal;
//   font-weight: 400;
//   line-height: 130%;
// }

// @mixin medal-count {
//   @include max-laptop {
//     font-size: use-rem( 24px);
//     font-weight: 500;
//     line-height: 150%;
//   }

//   @include max-tablet {
//     font-size: use-rem( 12px);
//     font-weight: 400;
//     line-height: 100%;
//   }

//   font-family: $font-family--second;
//   font-size: use-rem( 18.667px);
//   font-style: normal;
//   font-weight: 400;
//   line-height: 130%;
// }

// @mixin quote-text {
//   @include max-laptop {
//     font-size: use-rem( 26px);
//   }

//   @include max-tablet {
//     font-size: use-rem( 22px);
//   }

//   @include max-mobile {
//     font-size: use-rem( 16px);
//   }

//   font-family: $font-family--italic;
//   font-feature-settings: 'clig' off, 'liga' off;
//   font-size: use-rem( 32px);
//   font-style: italic;
//   font-weight: 400;
//   line-height: 120.5%;
// }

// @mixin quote-text-second {
//   @include max-laptop {
//     font-size: use-rem( 33px);
//   }

//   @include max-tablet {
//     font-size: use-rem( 27px);
//   }

//   @include max-mobile {
//     font-size: use-rem( 22px);
//   }

//   font-family: $font-family--italic;
//   font-size: use-rem( 39px);
//   font-style: italic;
//   line-height: 120.5%;
// }

// @mixin titles-number {
//   @include max-laptop {
//     font-size: use-rem(90px);

//   }

//   @include max-tablet {
//     font-size: use-rem(56px);

//   }

//   @include max-mobile {
//     font-size: use-rem(32px);

//   }

//   font-family: $font-family;
//   font-size: use-rem(120px);
//   font-style: normal;
//   font-weight: 400;
//   line-height: 100%;
//   text-transform: uppercase;

// }