/* SCALES */
$desktop-scale: 19.2; // 1920px
$laptop-scale: 14.4; // 1440px
$tablet-scale: 7.68; // 768px
$mobile-scale: 3.75; // 375px

html {
  font-size: calc(1vw / $desktop-scale);

  @include max-laptop {
    font-size: calc(1vw / $laptop-scale);
  }

  @include max-tablet {
    font-size: calc(1vw / $tablet-scale);
  }

  @include max-mobile {
    font-size: calc(1vw / $mobile-scale);
  }
}

$default-fix-scale: 1;
$laptop-fix-scale: calc($desktop-scale / $laptop-scale);
$mobile-fix-scale: calc($tablet-scale / $mobile-scale);

:root {
  --fix-scale: #{$default-fix-scale};
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}


@media screen and (max-width: $max-mobile) {
  .no-mobile-block {
    display: none !important;
  }

  .is-tablet-block {
    display: none !important;
  }
}

@media screen and (max-width: $max-tablet) {
  .is-desktop-block {
    display: none !important;
  }
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: all 0.5s;
}