.wrapper {
  &__button {
    border: use-rem(1px) solid $white;
    min-width: use-rem(350px);
    color: $white;
    transition: all 0.5s ease;

    @include max-laptop {
      min-width: use-rem(300px);
    }

    @include max-tablet {
      min-width: use-rem(260px);
    }

    @include max-mobile {
      min-width: use-rem(100px);
    }
  }   

  .big {
    padding: use-rem(40px 100px);
    @include h5UP;

    @include max-laptop {
      padding: use-rem(30px 90px); 
    }

    @include max-tablet {
      padding: use-rem(25px 80px);
    }

    @include max-mobile {
      padding: use-rem(20px 40px);
    }
  }

  .medium {
    padding: use-rem(15px);
    @include body-small;

    @include max-mobile {
      padding: use-rem(10px);
    }
  }

  .radius {
    border-radius: use-rem(30px);
  }

  .transparent {
    background: transparent;

    @include hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .filling {
    background: $white;
    color: $black;

    @include hover {
      background-color: transparent;
      color: $white;
    }
  }

  .shadow {
    background: $white;
    color: $black;

    @include hover {
      box-shadow: use-rem(1px 1px 30px 1px) rgb(6, 48, 0);
    }
  }
}