.wrapper {
  &__button {
    @include max-laptop {
      padding: use-rem(30px 90px); 
    }

    @include max-tablet {
      padding: use-rem(20px 80px); 
    }

    @include max-mobile {
      padding: use-rem(15px 40px); 
    }

    @include h5;
    border: use-rem(1px) solid $white;
    padding: use-rem(40px 100px);
    color: $white;
    transition: all 0.5s;
  }   

  .transparent {
    background: transparent;

    @include hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}