.header {
  @include padding;
  padding-top: use-rem(50px);
  padding-bottom: use-rem(50px);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include max-laptop {
    padding-top: use-rem(25px);
    padding-bottom: use-rem(25px);
  }

  @include max-tablet {
    padding-top: use-rem(30px);
    padding-bottom: use-rem(30px);
  }

  &.transparent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}