.header {
  padding: use-rem(50px 200px);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @include max-laptop {
    padding: use-rem(25px 100px);
  }

  @include max-tablet {
    padding: use-rem(20px 80px);
  }

  // @include max-mobile {
  //   padding: use-rem(20px);
  // }

  &.transparent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: use-rem(10px)
  }

  &__logo {
    @include size(use-rem(60px));
    display: flex;
    justify-content: center;
    align-items: center;

    @include max-laptop {
      @include size(use-rem(40px));
    }

    @include max-tablet {
      // @include size(use-rem(30px));
    }

    // @include max-laptop {
    //   @include size(use-rem(60px));
    // }
  }

  &__img {
    object-fit: contain;
    object-position: center center;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  &__title {
    color: $white;

    &--big {
      @include body-medium-up;
    }

    &--small {
      @include body-small;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: use-rem(50px);
  }

  &__elem {
    color: $white;
    position: relative;
    @include h6;

    &:after {
      content: '';
      display: block;
      width: 0%;
      height: use-rem(1px);
      background-color: $white;
      position: absolute;
      top: auto;
      bottom: use-rem(-5px);
      transition: width 0.5s;
    }

    @include hover {
      &:after {
        width: 100%;
      }
    }
  }
}