.hero {
    width: 100%;
    height: 100vh;
    padding: use-rem(200px 120px 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: use-rem(300px);
    position: relative;
    overflow: hidden;
    
    @include max-laptop {
        padding: use-rem(150px 80px 80px);
        gap: use-rem(250px);
    }

    @include max-tablet {
        padding: use-rem(100px 40px 40px);
        gap: use-rem(260px);
    }

    @include max-mobile {
        padding: use-rem(80px 10px 20px);
        gap: use-rem(100px);
    }

    &__container-img {
        @include size(100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            @include size(100%);
            background: linear-gradient(180deg, rgba(0, 0, 0, 60%) 0%, rgba(0, 0, 0, 60%) 100%);
            position: absolute;
            top: auto;
            bottom: 0;
        }
    }

    &__img {
        @include size(100%);
        object-fit: cover;
        object-position: center center;  
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $white;
    }

    &__container-titles {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: use-rem(20px);

        @include max-mobile {
            width: 100%;
        }
    }

    &__title-big {
        width: 100%;
        @include h3;
    }

    &__title-small {
        width: 60%;
        @include h5;
    }
    
    &__list {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: use-rem(40px);

        @include max-mobile {
            display: none;
        }
    }

    &__list-item {
        padding-bottom: use-rem(20px);
        border-bottom: use-rem(1px) solid $white;
        @include h6UP;
    }

    &__btns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: use-rem(50px);
    }
}