.hero {
    width: 100%;
    height: 100vh;
    @include padding;
    padding-top: use-rem(250px);
    padding-bottom: use-rem(100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: use-rem(50px);
    position: relative;
    overflow: hidden;
    
    @include max-laptop {
        padding-top: use-rem(200px);
        padding-bottom: use-rem(80px);
    }

    @include max-tablet {
        padding-bottom: use-rem(100px);
    }

    @include max-mobile {
        padding-bottom: use-rem(80px);
    }

    &__container-img {
        @include size(100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            @include size(100%);
            background: linear-gradient(180deg, rgba(0, 0, 0, 60%) 0%, rgba(0, 0, 0, 60%) 100%);
            position: absolute;
            top: auto;
            bottom: 0;
        }
    }

    &__img {
        @include size(100%);
        object-fit: cover;
        object-position: center center;  
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $white;

        @include max-mobile {
            flex-direction: column;
            gap: use-rem(50px);
        }
    }

    &__container-titles {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: use-rem(20px);

        @include max-mobile {
            width: 100%;
        }
    }

    &__title {
        &--big {
            width: 100%;
            @include h3;
        }

        &--small {
            width: 60%;
            @include h5;
    
            @include max-laptop {
                width: 80%;
            }
    
            @include max-mobile {
                width: 100%;
            }
        }
        
    }
    
    &__list {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: use-rem(40px);

        @include max-mobile {
            width: 100%;
            gap: use-rem(10px);
        }
    }

    &__list-item {
        padding-bottom: use-rem(20px);
        border-bottom: use-rem(1px) solid $white;
        @include h6UP;

        @include max-mobile {
            padding-bottom: use-rem(10px);
        }
    }

    &__btns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: use-rem(50px);

        @include max-mobile {
            gap: use-rem(30px);
        }
    }
}