.start {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: use-rem(50px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: $section-bg-dark;
  overflow: hidden;

  &__container {
    @include size(use-rem(200px));
  }

  &__container-icon {
    @include size(use-rem(200px));
    overflow: hidden;
  }

  &__icon {
    min-width: use-rem(200px);
    @include size(use-rem(200px));
    object-fit: contain;
    object-position: center center;
  }

  &__container-title {
    color: $white;

    .line {
      text-wrap: nowrap;
      overflow: hidden;
    }
  }

  &__big-title {
    @include h1A;
  }

  &__small-title {
    @include h4;
  }
}
