$black: #000000;
$black-hover: #3d3d3d;
$white: #ffffff;
$white-hover: #ecebeb;

// Основные цвета
$bg: #edeaea;
$bardo: #80002e;
$violet: #724099;
$mustard: #e5ad2d;
$warning: #e7a923;
$post: #071eb6;

$black80: #373737;
$black70: #313131;
$black60: #737373;
$black50: #656565;
$black25: #b6b6b6;
$black10: #b6b6b6;
$text-secondary: #484848;
$gradient-bg: linear-gradient(90deg, rgba(255,151,5,1) 0%, rgba(255,128,0,1) 50%, rgba(255,98,0,1) 100%);

$bg-dark: #262626;

// Базовая типографика
$font-family: 'Lato', sans-serif;
$font-family--second: 'Manrope', 'sans-serif';

// Брейкпоинты для адаптации
$max-laptop: 1720px;
$max-tablet: 1023px;
$max-mobile: 767px;

// transition-timing-func
$main-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
